:root {
  --primary-font-color: #fff;
  --button-hover-bgc: hsl(75, 94%, 57%);
  --primary-color: hsl(0, 0%, 8%);
  --secondary-color: hsl(0, 0%, 12%);
  --tertiary-color: hsl(0, 0%, 20%);
  --small-font-weight: 400;
  --medium-font-weight: 600;
  --large-font-weight: 700;
  --mobile-size: 375px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: var(--primary-font-color);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
}

.avatar {
  max-width: 100px;
  border-radius: 50%;
  margin: 1.4rem auto;
}

h1 {
  font-weight: var(--medium-font-weight);
  margin-bottom: 0.5rem;
}

.location {
  color: var(--button-hover-bgc);
  font-weight: var(--medium-font-weight);
  margin-bottom: 2rem;
}

.description {
  font-weight: var(--small-font-weight);
  margin-bottom: 1.8rem;
}

.btn {
  background-color: var(--tertiary-color);
  display: inline-block;
  margin-bottom: 0.9rem;
  padding: 0.8rem 2rem;
  width: 100%;
  border-radius: 8px;
  font-weight: var(--medium-font-weight);
}

.btn:hover {
  background-color: var(--button-hover-bgc);
  color: var(--primary-color);
}
.btn:focus {
  background-color: var(--button-hover-bgc);
  color: var(--primary-color);
  outline: 2px solid #000;
}

@media (max-width: 375px) {
  .container {
    padding: 0.8rem;
    /* width: 90%; */
    margin: 1rem;
  }
}
